.breadcrum {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 60px 170px;
  font-size: 16px;
  font-weight: 600;
  color: #5e5e5e;
  /* background-color: blueviolet; */
  text-transform: capitalize;
}
.breadcrum img{
    background: rgb(201, 197, 197);
}